# Ignore node_modules since it will be installed in the image
node_modules/
npm-debug.log
yarn-error.log
temp/

# Ignore logs
logs
*.log

# Ignore build artifacts
dist
build
out

# Ignore environment files (if not needed in the image)
.env
.env.local
.env.*.local

# Ignore local configurations
.DS_Store
.idea
.vscode
*.swp
*.tmp

# Ignore Git files
.git
.gitignore
